configuration {
    modi:                       "drun,run,window";
    show-icons:                 true;
    display-drun:               "";
    display-run:                "";
    display-window:             "";
    drun-display-format:        "{name}";
    window-format:              "{w} · {c} · {t}";
    icon-theme:                 "Papirus";
}

@theme "~/.config/rofi/theme.rasi"
